<%- include('./partials/messages') %>
<form action="/users/login" method="POST">
  <label for="email">Email</label>
  <input name="email" type="email" id="email" placeholder="Enter Email" />
  <label for="password">Password</label>
  <input
    name="password"
    type="password"
    id="password"
    placeholder="Enter Password"
  />
  <button type="submit">Login</button>
</form>
<p>No account? <a href="/users/register">Register</a></p>
